@font-face {
  font-family: 'hyqy';
  src: url('汉仪清雅体简.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dfpgb';
  src: url('DFPGB_H9.ttf');
  font-weight: normal;
  font-style: normal;
}

